body {
    background-color: slateblue;
}

.dice {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    background-color: white;
}

.pip {
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
}

.pip1 {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}
.pip2 {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
}
.pip3 {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}
.pip4 {
    grid-column: 1 / 1;
    grid-row: 3 / 3;
}
.pip5 {
    grid-column: 3 / 3;
    grid-row: 3 / 3;
}

.container {
    display: grid;
    grid-template-rows: ;}